/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.3s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

@keyframes bgAnim {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bgAnim1 {
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes jiandaoxuanz {
  50% {
    transform: rotate(18deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}
@keyframes jiandaopinyi1 {
  from {
    transform: translateX(16px);
  }
  to {
    transform: translateX(-36vw);
  }
}
@keyframes jiandaopinyi {
  from {
    transform: translateX(16px);
  }
  to {
    transform: translateX(-66vw);
  }
}
@keyframes jiandaoyanse {
  from {
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes yunduo {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes yunduo1 {
  from {
    transform: translateY(-8%);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes shangyi11 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6px);
  }
}
@keyframes shangyi111 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-16px);
  }
}
@keyframes imgfangfda {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.009);
  }
}
.tiao {
  position: absolute;
  z-index: 88888;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  .tiao1 {
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
  .tiao1:nth-child(2) {
    animation-delay: -1.1s;
  }
  .tiao1:nth-child(3) {
    animation-delay: -1s;
  }
  .tiao1:nth-child(4) {
    animation-delay: -0.9s;
  }
  .tiao1:nth-child(5) {
    animation-delay: -0.8s;
  }
  .tiao1:nth-child(6) {
    animation-delay: -0.7s;
  }
  .tiao1:nth-child(7) {
    animation-delay: -0.6s;
  }
}
h1 {
  font-size: 32px;
  user-select: none;
}
h2 {
  font-size: 24px;
  user-select: none;
}
h3 {
  font-size: 18.72px;
  user-select: none;
}
h4 {
  font-size: 16px;
  user-select: none;
}
h5 {
  font-size: 13.28px;
  user-select: none;
}
h6 {
  font-size: 12px;
  user-select: none;
}
